:root {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: var(--accent-color);
}
.logo-part {
    color: var(--title-text-color);
}

.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .current {
    color: var(--accent-color);
}
.auth-nav .link{
    color: var(--main-text-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
 .button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    border: none;
}
 .title {
    color: var(--title-text-color);
}


/* Portfolio */
.portfolio .link {
    color: var(--main-text-color);
}
.btn {
    border: none;
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    
}
.btn:hover, .btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    
}